* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aqua;
}
.boks {
    background-color: green;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.boks-anak {
    background-color: cadetblue;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}